@page
@model TESTPROJECT_PRACTICE1V2.HistoryModel
@{
}



<h3>HISTORY</h3>

<h5>Los dinosaurios fueron un grupo de reptiles que habitaron la Tierra en la
    era mesozoica , desde el período triásico superior hasta fines del cretácico
    (245 a 65 millones de años atrás). Su desaparición marca el límite entre la
    era mesozoica y la cenozoica, y el comienzo de la denominada edad de los
    mamíferos.
    El término dinosaurio proviene del griego (significa "lagarto terrible") y
    se refiere a ejemplares de lo más diversos: grandes, como el brontosaurio,
    que pesaba
    cerca de 75 toneladas, y muy pequeños, como el saltopus, de tan sólo 50 cm
    de largo.

    Los primeros homínidos , por su parte, aparecieron en la Tierra hace
    relativamente poco, alrededor de 2 millones de años atrás, muchísimo después
    de que el último de
    estos grandes reptiles pereciera. Las imágenes de los primeros hombres junto
    a los dinosaurios no son más que un producto de la fantasía.</h5>

    <h5>FUENTE : https://cdn.educ.ar/dinamico/UnidadHtml__get__cd2ae025-07ab-46f9-9547-644c97a46222/90313/data/2d334a88-7a06-11e1-8290-ed15e3c494af/index.html</h5>

    <!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="robot.png">
    <title>Images</title>
    <style>
        body {
            height: 100vh;
            background-image: url("https://cdn.pixabay.com/photo/2018/01/14/23/12/nature-3082832_960_720.jpg");
            color:white;
            padding: 25px;
            background-position: center;
            background-size: cover;
            background-position: fixed;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>
    <h3></h3>
</body>
</html>

