@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea sapiente
    veritatis adipisci quaerat nobis sit ducimus, suscipit, veniam
    vel excepturi sint eveniet iusto tenetur iste dolor? Repellendus ipsum eius
    velit! Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Iste, deleniti voluptatum dignissimos numquam a voluptas ut blanditiis
    iusto incidunt tenetur facere, cupiditate vel excepturi deserunt?
    Aut error iste deserunt</p>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea sapiente
    veritatis adipisci quaerat nobis sit ducimus, suscipit, veniam
    vel excepturi sint eveniet iusto tenetur iste dolor? Repellendus ipsum eius
    velit! Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Iste, deleniti voluptatum dignissimos numquam a voluptas ut blanditiis
    iusto incidunt tenetur facere, cupiditate vel excepturi deserunt?
    Aut error iste deserunt</p>


    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea sapiente
    veritatis adipisci quaerat nobis sit ducimus, suscipit, veniam
    vel excepturi sint eveniet iusto tenetur iste dolor? Repellendus ipsum eius
    velit! Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Iste, deleniti voluptatum dignissimos numquam a voluptas ut blanditiis
    iusto incidunt tenetur facere, cupiditate vel excepturi deserunt?
    Aut error iste deserunt</p>

    <!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="robot.png">
    <title>Images</title>
    <style>
        body {
            height: 100vh;
            background-image: url("https://cdn.pixabay.com/photo/2018/01/14/23/12/nature-3082832_960_720.jpg");
            color:white;
            padding: 25px;
            background-position: center;
            background-size: cover;
            background-position: fixed;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>
    <h3></h3>
</body>
</html>

